.white {
    fill: #ffffff;
    background: #ffffff !important;
}
td.wrappable {

    /* css-3 */
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;

}
.avatar-xs {
    width: 1.4375rem;
    height: 1.4375rem;
    font-size: .75rem;
    border-radius: .1rem;
}
.dropdown-item.active {
    color: #6e00ff;
    text-decoration: none;
    background-color: transparent;
}
.extra-pad {
    padding-top:3px;
}

#headers-header-2 {
    margin-top:-1.5rem;
}
.card-img-top {
    max-height:270px;
}
.card-body {
    min-height:200px;
}
pre {
    word-wrap: break-word;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px!important;
    border: 1px solid #ddd;
}
article>h2, article>h3 {
    margin-top:2.5rem;
}
.article-image {
    text-align:center;
    margin:2.25rem;
}